@import '../styles/functions';

$white: #fff;
$primary-color: #006FE6;
$primary-color-hover: #0056b3;
$secondary-color: #6c757d;
$secondary-color-hover: #5a6268;
$success-color: #218838;
$success-color-hover: #1e7c30;
$warning-color: #ffc107;
$warning-color-hover: #d39e00;
$danger-color: #dc3545;
$danger-color-hover: #b02a37;
$disabled-color: #c6c6c6;